*,*:before,*:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0px;
    font-family: 'gilroy', sans-serif;
}

.container div {
    float: left;
}

.left {
    width: 19.24%; 
    padding-left: 80px;
    border-right: 1px solid #DEDEDE;
    position: fixed;
    padding-top: 22px;
    height: 800px;
}

.logo {
    width: 165px;
    margin-bottom: 147px;
}

.ltext {
    line-height: 24px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 550;
}

/* -------- left -------- */

/* -------- right -------- */

.right {
    width: 80.76%;
    padding-left: 80px;
    height: 745px;
    margin-left: 19.24%;
    border-bottom: 1px solid #DEDEDE;
}

.header {
    margin-bottom: 30px;
    text-align: right;
    width: 100%;
    margin-top: 30px;
    padding-right: 80px;
}

.htext {
    text-align: right;
    font-size: 22px;
    font-weight: 550;
    text-decoration: none;
    color: black;
    margin-left: 61px;
}

.mtext1 {
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 165px;
    line-height: 187px;
    color: #F2F2F2;
    margin: 0;
    margin-left: 10px;
    top: 60px;
    right: -57px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #F2F2F2;

}

.mtext2 {
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.2em;
    margin-top: 200px;
    margin-bottom: 0;
}

.mtext3{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.05em;
    margin-top: 10px;
}


.more {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.more:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.img1 {
    position: absolute;
    right: 0;
    width: 47.5%;
}

/* -------- right -------- */

/* -------- items -------- */

.items {
    height: 500px;
    margin-left: 19.24%;
    width: 80.76%;
    float: left;
    padding-left: 80px;
    padding-right: 80px;
}

.itext1 {
    text-align: center;
    margin-top: 50px;
    font-size: 38px;
}
.imgitems {
    margin-top: 35px;
}

.img3 {
    width: 235px;
}

.itext2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.itext22 {
    font-weight: 500;
    font-size: 17px;
    margin-top: 3px;
}

.imgitems2 {
    margin-top: 35px;
    margin-left: 42px;
}

/* -------- items -------- */

/* -------- catalog -------- */
/* -------- header -------- */

.cheader {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #DEDEDE;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 20px;
    
}



.menu {
    height: 85px;
    margin-top: 28px;
}


.iconmenu { 
    margin-right: 15px;
    width: 26px;
}

.menutext {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.searchtext {
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.rtext {
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.logo1 {
    position: absolute;

}

.aa {
    width: 44.5%;
    text-align: left;
    margin-top: 7px;
}

.ad {
    width: 55.5%;
    text-align: right;
    margin-top: 7px;
}

/* -------- header -------- */
/* -------- main -------- */

.ctext1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 50px;
    height: 140px;
    border-bottom: 1px solid #DEDEDE;
}

.filter {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #DEDEDE;

}

.filter1 {
    width: 62.5%;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
}

.filter2 {
    width: 18.75%;
    text-align: center;
    border-left: 1px solid #DEDEDE;
    padding-top: 25px;
    height: 69px;
}

.cimg1 {
    width: 66.4%;
    margin: 0px;
    padding: 0px;
}
.cimg2 {
    width: 33.1%;
    margin: 0px;
}

.images {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* -------- main -------- */
/* -------- catalog -------- */

/* -------- card -------- */

.imgdiv {
    width: 50%;
}

.maindiv {
    width: 50%;
    justify-content: center;
    display: flex;
}

.imgcard {
    width: 100%;
}

.elements {
    width: 440px;
    margin-top: 100px;
}

.title1 {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 23px;
}

.ficon {
    width: 30px;
    margin-left: 293px;
}

.title2 {
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 23px;
    padding-top: 23px;
}

.stext {
    margin-left: 375px;
}

.title3 {
    margin-top: 23px;
    font-size: 18px;
    margin-left: 355px;
}

.title4 {
    margin-top: 230px;
}

.cardbutton {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.cardbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cardbutton2 {
    background-color: white;
    border: none;
    color: black;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}

.cardbutton2:hover {
    background-color: black;
    color: white;

}

.divb {
    margin-top: 20px;
}

/* -------- card -------- */