*,*:before,*:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0px;
    font-family: 'gilroy', sans-serif;
}

.container div {
    float: left;
}

body.shadow {
    background-color:rgba(50, 50, 50, 0.5);
    position: absolute;
}


.left {
    width: 19.24%; 
    padding-left: 80px;
    border-right: 1px solid #DEDEDE;
    position: fixed;
    padding-top: 22px;
    height: 800px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 165px;
    margin-bottom: 147px;
}

.ltext {
    line-height: 24px;
    margin-bottom: 35px;
    font-size: 21px;
    font-weight: 550;
}

/* -------- left -------- */

/* -------- right -------- */

.right {
    width: 80.76%;
    padding-left: 80px;
    height: 818px;
    margin-left: 19.24%;
    border-bottom: 1px solid #DEDEDE;
}

.header {
    margin-bottom: 30px;
    text-align: right;
    width: 100%;
    margin-top: 30px;
    padding-right: 80px;
}

.main {
    background-size: cover;
}

.htext {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 75px;
}

.htext1 {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 75px;
}

.htext2 {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 75px;
}

.mtext1 {
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 165px;
    line-height: 187px;
    color: #F2F2F2;
    margin: 0;
    margin-left: 0px;
    top: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #F2F2F2;
    transform: translateX(29%); 
}


.mtext2 {
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.2em;
    margin-top: 200px;
    margin-bottom: 0;
}

.mtext3{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.05em;
    margin-top: 10px;
}


.more {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.more:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.img1 {
    position: absolute;
    right: 0;
    width: 47.5%;
}

/* -------- right -------- */

/* -------- items -------- */

.items {
    height: 500px;
    margin-left: 19.24%;
    width: 80.76%;
    float: left;
    padding-left: 80px;
    padding-right: 80px;
}

.itext1 {
    text-align: center;
    margin-top: 50px;
    font-size: 38px;
}
.imgitems {
    margin-top: 35px;
}

.items h3{
    text-decoration: none;
    color: black;
}

.img3 {
    width: 235px;
}

.itext2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: none;
}

.itext22 {
    font-weight: 500;
    font-size: 17px;
    margin-top: 3px;
}

.imgitems2 {
    margin-top: 35px;
    margin-left: 42px;
}

/* -------- items -------- */

/* -------- catalog -------- */
/* -------- header -------- */

.cheader {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #DEDEDE;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 20px;
    
}



.menu {
    height: 85px;
    margin-top: 28px;
}


.iconmenu { 
    margin-right: 15px;
    width: 26px;
}

.menutext {
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.searchtext {
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.rtext {
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.rtext1 {
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.logo1 {
    position: absolute;

}

.aa {
    width: 44.5%;
    text-align: left;
    margin-top: 7px;
}

.ad {
    width: 55.5%;
    text-align: right;
    margin-top: 7px;
}

/* -------- header -------- */
/* -------- main -------- */

.ctext1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 50px;
    height: 140px;
    border-bottom: 1px solid #DEDEDE;
}

.filter {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #DEDEDE;

}

.filter1 {
    width: 62.5%;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
}

.filter2 {
    width: 18.75%;
    text-align: center;
    border-left: 1px solid #DEDEDE;
    padding-top: 25px;
    height: 69px;
}

.cimg1 {
    width: 66.4%;
    margin: 0px;
    padding: 0px;
}
.cimg2 {
    width: 33.1%;
    margin: 0px;
}

.images {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* -------- main -------- */
/* -------- catalog -------- */

/* -------- card -------- */

.imgdiv {
    width: 50%;
}

.maindiv {
    width: 50%;
    justify-content: center;
    display: flex;
}

.imgcard {
    width: 100%;
}

.elements {
    width: 440px;
    margin-top: 100px;
}

.title1 {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 23px;
}

.ficon {
    width: 30px;
    margin-left: 293px;
}

.title2 {
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 23px;
    padding-top: 23px;
}

.stext {
    margin-left: 375px;
}

.title3 {
    margin-top: 23px;
    font-size: 18px;
    margin-left: 355px;
}

.title4 {
    margin-top: 230px;
}

.cardbutton {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.cardbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cardbutton2 {
    background-color: white;
    border: none;
    color: black;
    padding: 14px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}

.cardbutton2:hover {
    background-color: black;
    color: white;

}

.divb {
    margin-top: 20px;
}

/* -------- card -------- */

/* -------- log in -------- */

.login {
    height: 100%;
    right: 0;
    width: 33%;
    position: fixed;
    background-color: white;
    transform: translateX(100%);
	transition: transform 0.5s;
}

.login.active {
    transform: translateX(0);
}

.ident {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #DEDEDE;
    display: flex;
}

.idtext {
    font-size: 27px;
    margin-left: 50px;
    margin-top: 25px;
}

.exicon {
    width: 20px;
}

.ex {
    padding: 25px 30px;
    background-color: white;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    margin-left: 173px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.ex:hover {
    background-color: #DEDEDE;
}

.fields {
    margin-left: 50px;
}

.ftitle {
    font-size: 22px;
    margin-top: 30px;
}

.field {
    width: 430px;
    margin: 0px;
    height: 50px;
    border: 1px solid #DEDEDE;
    padding: 0px 20px;
}

.logtext {
    margin-top: 30px;
    font-size: 15px;
}

.cardbutton1 {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 430px;
    margin-top: 40px;
}

.cardbutton1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.borderd {
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    height: 30px;
}

.signup {
    margin-left: 50px;
}

/* -------- log in -------- */
/* -------- search -------- */

.search {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    border-bottom: 1px solid #DEDEDE;
    padding: 28px 0;
    margin: 0;
    transform: translateY(-100%);
	transition: transform 0.5s;

}

.search.active {
    transform: translateY(0);
}

.sblock {
    width: 700px;
    height: 40px;
    background-color: #F6F5F3;
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    justify-content: center;
    margin-right: 100px;
}

.exic {
    width: 20px;
}

.butex {
    border: none;
    background-color: white;
    cursor: pointer;
    right: 0px;
}

/* -------- search -------- */
/* -------- menu -------- */

.lmenu {
    height: 100%;
    width: 22%;
    left: 0;
    position: fixed;
    background-color: white;
    transform: translateX(-100%);
	transition: transform 0.5s;
    padding: 50px;
    border-right: 1px solid #DEDEDE;
}

.lmenu.active1 {
    transform: translateX(0);
}

.lmenu a {
    text-decoration: none;
}

.butex1 {
    border: none;
    background-color: white;
    cursor: pointer;
    right: 0px;
    margin-bottom: 25px;
}

.lmtext {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.lmtext:hover{
    color: #DEDEDE;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    text-decoration-line: underline;
}

/* -------- menu -------- */